@font-face {
	font-family: inter;
	src: url('../Assets/Fonts/Inter-Regular.otf') format("opentype");
}

@font-face {
	font-family: inter-semibold;
	src: url('../Assets/Fonts/Inter-SemiBold.otf') format("opentype");
}

.navbar {
    z-index: 1000;
    background-color: white;
    height: 70px;
    position: fixed;
    top: 0;
    width: calc(100% - 50px);
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s;
}

.navbar-scrolled {
    background-color: #160043 !important;
    width: 100%;
}
.navbar-scrolled .navbar-link,
.navbar-scrolled .navbar-signin,
.navbar-scrolled .navbar-register {
    color: #fff !important;
}
.navbar-scrolled .logo-text {
    color: #fff !important;
}
.navbar-logo {
    padding-left: 45px;
    height: 65px;
}
.navbar-menu {
    justify-content: space-between;
}

.navbar-link {
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #121212;
    font-weight: normal;
    font-family: inter;
}

.navbar-actions {
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-loggedin, .navbar-loggedout {
    text-decoration: none;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 100px;
    color: #121212;
    background-color: white;
    border: 1px #908f8f solid;
    font-family: inter-semibold;
    margin-right: 6px;
}

.navbar-dropped-loggedin, .navbar-dropped-loggedout {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 22px;
    margin-bottom: 20px;
    border-radius: 100px;
    color: #121212;
    background-color: white;
    border: 1px #908f8f solid;
    font-family: inter-semibold;
}

.navbar-signup{
    text-decoration: none;
    color: black;
}

.navbar-register, .navbar-dashboard {
    text-align: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: 11px 22px;
    border-radius: 100px;
    font-family: inter-semibold;
    color: white;
    background-image: linear-gradient(45deg, #951fea, #5500ff);
    transition: all 1s ease-in-out;
}

.navbar-register:hover, .navbar-dashboard:hover {
    background-image: linear-gradient(45deg, #c475fc, #a67cfc);
}

.navbar-register:active, .navbar-dashboard:active {
    background-image: linear-gradient(45deg, #d7a4fc, #ceb6fe);
}


.navbar-dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    background: white;
    border: 1px #d3d2d2 solid;
    min-width: 150px;
    z-index: 100;
}

.navbar-dropdown-link {
    display: block;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #121212;
}

.navbar-dropdown-link:hover {
    background-color: #e3dde3;
}

.navbar-dropped {
    background-color: #160043;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    height: 100vh;
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 70px;
}
.navbar-dropped-menu {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-dropped-link {
    padding: 15px;
    font-size: 32px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: normal;
    font-family: inter;
}

.navbar-hamburger {
    padding-right: 45px;
}

.hamburger-box {
    height: 40px;
    width: 40px;
}
.navbar-menu,
.navbar-actions {
  display: flex;
}
.navbar-hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {

  .navbar-menu,
  .navbar-actions {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }
}


@media screen and (max-width: 1000px) {
    body {
        transform: scale(0.9);
        transform-origin: top left;
        width: calc(100% / 0.9);
        overflow-x: hidden;
    }
}
@media screen and (max-width: 800px) {
    body {
        transform: scale(0.7);
        transform-origin: top left;
        width: calc(100% / 0.7);
        overflow-x: hidden;
    }
}
@media screen and (max-width: 600px) {
    body {
        transform: scale(0.5);
        transform-origin: top left;
        width: calc(100% / 0.5);
        overflow-x: hidden;
    }
}
@media screen and (max-width: 400px) {
    body {
        transform: scale(0.5);
        transform-origin: top left;
        width: calc(100% / 0.5);
        overflow-x: hidden;
    }
}